body {
	margin: 0px;
	font-size: 1.1em;
}

footer, nav {
	text-align: center;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

a {
	color:#149414;
	font-weight: bold;
}

h1 {
	margin: 30px;
	color:#149414;
}

#food-picture {
	background-color: white;
	background-size: 100%;
	height: 360px;
	width: 50%;
	display: block;
	margin: auto;
	border-radius: 10px;
	background-color: #3d3d3d; 
}

#banner-text {
	font-weight: bold;
	padding: 70px 100px;
	text-align: center;
	color: #EEE;
}

html {
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

* {
	font-family: 'Roboto', sans-serif;
}

footer {
	color:#149414;
}

#policy {
	font-family: monospace;
}